
/*************************/
/* CSS ID definitions    */
/*************************/

#backgroundWithImage
{

    background-image : url("https://farm5.staticflickr.com/4782/26799068138_80d46bfb3d.jpg") ;
    background-position: left top;
    background-repeat : no-repeat;
    background-color : #e5e5e5;
    background-size :100% 600px;

}

#cityButtonsContainer
{

    height: 35%;

}

#googleMap
{
    width: 100%;
    height: 100%;
}

/* Divs that hold important content and are changed in the javascript */

#todaysWeatherVertical
{

}

#todaysWeatherHorizontal
{

}

#cityInfo
{

}

#weatherForecast
{

}

#flickrDiv
{

}

#twitterDiv
{

}

#RSSDiv
{

}

#returnBtn
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
}

/*************************/
/* CSS class definitions */
/*************************/

.verticalMiddle
{

    top: 55%;

}

.sideBar
{

    visibility: hidden;

}

.mainSection
{

    background-color : beige;

}

.subSection
{

    background-color : lightblue;

}