
/*************************/
/* CSS ID definitions    */
/*************************/

#backgroundWithImage
{

    background-image : url("http://www.telegraph.co.uk/content/dam/Travel/galleries/travel/picturegalleries/The-worlds-best-city-skylines/skyline-toronto_3461626a.jpg") ;
    background-position: left top;
    background-repeat : no-repeat;
    background-color : #e5e5e5;
    background-size :100% 25%;

}

#cityButtonsContainer
{

  height: 35%;

}

/*************************/
/* CSS class definitions */
/*************************/

.sideBar
{

  visibility: hidden;

}

.mainSection
{

  background-color : beige;

}

.subSection
{

  background-color : lightblue;

}




/**************************************************/
/* CSS for original form below remove if not used */
/**************************************************/
#italic
{
  font-style: italic;
}

.red
{
  color: red;
}

input, textarea
{
  position: absolute;
  left: 15%;
  width: 50%;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: grey;
  border-radius: 3px;
}

#DOB
{
  width: 25%;
}

select
{
  position: absolute;
  left: 15%;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: grey;
  border-radius: 3px;
}

#submit
{
	width: 10%;
	border-color: black;
	background-color: black;
	color: white;
}