
/*************************/
/* CSS ID definitions    */
/*************************/

#backgroundWithImage
{

    background-image : url("http://www.telegraph.co.uk/content/dam/Travel/galleries/travel/picturegalleries/The-worlds-best-city-skylines/skyline-toronto_3461626a.jpg") ;
    background-position: left top;
    background-repeat : no-repeat;
    background-color : #e5e5e5;
    background-size :100% 25%;

}

#cityButtonsContainer
{

    height: 35%;

}

#googleMap
{
    width: 100%;
    height: 100%;
}

#todaysWeatherVertical
{



}

#todaysWeatherHorizontal
{



}

#cityInfo
{



}

#weatherForecast
{



}

#locationInfo
{



}

#returnBtn
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
}

/*************************/
/* CSS class definitions */
/*************************/

.verticalMiddle
{

    top: 55%;

}

.sideBar
{

    visibility: hidden;

}

.mainSection
{

    background-color : beige;

}

.subSection
{

    background-color : lightblue;

}